@{
    Layout = "~/Views/Shared/HotelLayout.cshtml";
}
    <section class="container-fluid">
        <article id="preview-img-section" class="row justify-content-center">
            <img src="~/Content/images/daniel-dinuzzo-qCjolcMFaLI-unsplash.jpg" alt="Hotel" id="main-img" />
        </article>

    </section>